* {
    font-family: 'Grandstander', cursive;
    /* margin: 2% 5% 5% 2%; */
    /* text-align: center; */

}

@media (min-width: 200px) {
    body {
        background-image: url("svg/Particles.svg");
    }
    nav {
        text-align: center;
        margin: 2% 2% 2% 2%;
    }
    #list-computer-choice {
        padding-left: 0px;
    }
    .restart {
        margin: 2% 0px 2% 0px;
        background-color: #37c86a;
        border: transparent;
        border-radius: 5px;
        color: white;
        padding: 7px;
        outline: none;
        box-shadow: -4px 5px 8px 0px rgba(50, 50, 50, 0.19);
    }
    .restart:hover {
        margin: 2% 0px 2% 0px;
        background-color: #37c86a;
        border: transparent;
        border-radius: 5px;
        color: white;
        outline: none;
        box-shadow: -4px 5px 8px 0px rgba(50, 50, 50, 0.29);
    }

    .computer-score {
        font-size: 25px;
        padding-right: 20px;

    }
    .player-score {
        font-size: 25px;
        padding-right: 20px;
    }
    #players {
        display: flex;
        justify-content: space-evenly;
    }
    #score-container {
        text-align: center;
    }
    .players-result {
        display: flex;
        justify-content: flex-end;
        padding-top: 10px;
        font-size: large;
    }
    /* #dfdfdf */
    .computers-container {
        border: solid 1px transparent;
        border-radius: 5px;
        padding: 7px 7px 4px 7px;
        background-color: #009bff;
        color: white;
        box-shadow: -4px 5px 8px 0px rgba(50, 50, 50, 0.19);
    }
    .players-container {
        border: solid 1px transparent;
        border-radius: 5px;
        background-color: #fd0240;
        color: white;
        padding: 7px 7px 4px 7px;
        box-shadow: -2px 6px 5px 0px rgba(206, 141, 141, 0.29);
    }
    .player-rock {
        border: solid 2px transparent;
        border-radius: 40px;
        padding: 7px;
        background-color: #009bff;
        box-shadow: -2px 6px 5px 0px rgba(50, 50, 50, 0.19);

    }  
    /* #fd0240 */
    .player-paper {
        border: solid 2px transparent;
        border-radius: 40px;
        padding: 7px;
        background-color: #fd0240;
        box-shadow: -2px 6px 5px 0px rgba(50, 50, 50, 0.19);

    }
    .player-scissors {
        border: solid 2px transparent;
        border-radius: 40px;
        padding: 7px;
        background-color: #37c86a;
        box-shadow: -2px 6px 5px 0px rgba(50, 50, 50, 0.19);

    }
    .players-choice-rock {
        visibility: hidden;
    }
    .players-choice-paper {
        visibility: hidden;
    }
    .players-choice-scissors {
        visibility: hidden;
    }
    .computers-choice-rock {
        visibility: hidden;
    }
    .computers-choice-paper {
        visibility: hidden;
    }
    .computers-choice-scissors {
        visibility: hidden;
    }
    .msg-before-result {
        display: flex;
        justify-content: space-evenly;
    }
    .title {
        font-size: 25px;
        border-bottom: solid 1px #dfdfdf;
    }
    .draw {
        visibility: hidden;
    }
    .computer-Winner {
        visibility: hidden;
        font-size: 25px;
        padding-top: 15px;
        padding-bottom: 8px;
    }
    .player-Winner {
        visibility: hidden;
        font-size: 27px;
    }
    .rock {
        visibility: hidden;
        font-size: 27px;
    }
    .paper {
        visibility: hidden;
        font-size: 27px;
    }
    .scissors {
        visibility: hidden;
        font-size: 27px;
    }
}
